<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="./stylesheets/userform.css">
 <% include partials/head %> 
</head>
<body onload="validDate()">
<% include partials/menu %>
<script>
function disable()
{
    document.onkeydown = function (e) 
    {
    return false;
    }
}
function enable()
{
 document.onkeydown = function (e) 
 {
  return true;
 }
}
</script>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  
    <div class="form-us">
        <form action="/paymentprocess" form="myform" id="myform" name="myform" method="POST">
            <!--label for="customerName">NAME <em>&#x2a;</em></label>
            <input id="customerName" name="customerName" required="" type="text" /-->
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%=stripePublishableKey%>"
            data-amount="100"
            data-name="Smart Cabinet Malaysia"
            data-description="Payment for Local Storage"
            data-image="scmlogo.png"
            data-locale="auto"
            data-panel-label='Checkout'>
            </script>
            <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
            </script> 
            <!--Stripe API-->
            <label for="customerEmail">EMAIL <em>&#x2a;</em></label>
            <input id="customerEmail" onclick="enable();" type="text" form="myform" name="customerEmail" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" oninput="onclickhandler(this)"  />
            <label for="customerPhone">PHONE <em>&#x2a;</em></label>
            <input id="customerPhone" onclick="enable();" type="tel" form="myform" name="customerPhone" maxlength="10" autocomplete="off" onkeypress="return AllowOnlyNumbers(event);" name="customerPhone" oninput="onclickhandler2(this)" type="tel" />
            <hr>
            <label for="customerEmail">Tranfer storage set storing duration (deliver fee + RM10)</label>
            
            <label for="customerEmail" class="labeltime">RM 12 Per Day(s) </label>
            <input  type="date" id="datepicker" value="" onclick="disable();" onkeydown="disable();" name="date" autocomplete="off" pattern='(?:((?:0[1-9]|1[0-9]|2[0-9])\/(?:0[1-9]|1[0-2])|(?:30)\/(?!02)(?:0[1-9]|1[0-2])|31\/(?:0[13578]|1[02]))\/(?:19|20)[0-9]{2})'>
            <!--select class="select-css" style="width:200px;" form="myform" id="dayss" name="numb_days" size="1">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select-->
            <label for="customerEmail" class="labeltime">RM 2 Per Hour(s) <em>&#x2a;</em></label>
            <select class="select-css" style="width:200px;" form="myform" id="hourss" name="numb_hours" size="1">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>	
              <option value="6">6</option>	
              <option value="7">7</option>	
              <option value="8">8</option>	
              <option value="9">9</option>	
              <option value="10">10</option>	
              <option value="11">11</option>	
              <option value="12">12</option>	
              <option value="13">13</option>	
              <option value="14">14</option>	
              <option value="15">15</option>	
              <option value="16">16</option>	
              <option value="17">17</option>	
              <option value="18">18</option>	
              <option value="19">19</option>	
              <option value="20">20</option>	
              <option value="21">21</option>	
              <option value="22">22</option>	
              <option value="23">23</option>
            </select>
            <div id="priceshow">
            <label for="customerEmail">Price(RM) </label>
            <input  id="pricex" value="0" form="myform" name="customerPrice"  type="text" disabled />
            </div>
            <label for="customerEmail">Selected local box ID</label>
            <input id="labelLocalbox" name="labelLocalbox" required="" type="text" disabled value="<%=rlocalboxid%>" />
            <label for="customerEmail">Location name of delivering destination</label>
            <input id="labelTargetbox" name="labelTargetbox" required="" type="text" disabled value="<%=location_name%>" />
            <label for="customerEmail">Selected target box ID</label>
            <input id="labelTargetbox" name="labelTargetbox" required="" type="text" disabled value="<%=targetbid%>" />
            <label for="customerEmail">Current Time</label>
            <input id="time" name="time"  required="" type="text" disabled  />
            <label for="customerEmail">Estimate Due </label>
            <input id="estimateDue" name="estimateDue" required="" type="text" disabled  />
            <hr>
            <input checked disabled class="checkboxs" type="checkbox" id="qrcodecheck" name="selectQR" value="QR">
            <label for="QR"> Unlocking with QR code</label><br>
            <h3>
                Please provide all the require information</h3>
            <h3>above before proceeding to payment.
            </h3>
            <input type="hidden" id="hidden_box1id" form="myform" name="hidden_box1id" value="<%=rlocalboxid%>">
            <input type="hidden" id="hidden_box2id" form="myform" name="hidden_box2id" value="<%=targetbid%>">
            <input type="hidden" id="hidden_price" form="myform" name="hidden_price" value="">
            <button type="submit" id="form_submit" value="submit" form="myform"  onclick="ValidateEmail(document.myform.customerEmail, document.myform.customerPhone)" >SUBMIT</button>
        </form>
    </div>


</div>

</body>
<% include partials/script %>
<script>
function validDate(){
    var today = new Date().toISOString().split('T')[0];
    var nextWeekDate = new Date(new Date().getTime() + 90 * 24 * 60 * 60 * 1000).toISOString().split('T')[0]
    document.getElementsByName("date")[0].setAttribute('min', today);
    document.getElementsByName("date")[0].setAttribute('max', nextWeekDate)
}
var phoneno = /^\d{10}$/;
var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
function ValidateEmail(inputText, customerPhoneNumber){

    if(inputText.value.match(mailformat) && customerPhoneNumber.value.match(phoneno)){
        /*alert("Valid email address!");
        document.myform.customerEmail.focus();*/
        document.getElementById("form_submit").disabled = false;
        return true;
    } else{
        if (!customerPhoneNumber.value.match(phoneno) || !inputText.value.match(mailformat)){
            if (!inputText.value.match(mailformat)){
                alert("You have entered an invalid email!");
                document.myform.customerEmail.focus();
                document.getElementById("form_submit").disabled = true;
            }
            if (!customerPhoneNumber.value.match(phoneno)){
                document.myform.customerPhone.focus();
                alert("You have entered an invalid phone !");
                document.getElementById("form_submit").disabled = true;
            }
        }
        
        return false;
    }
}

function onclickhandler(e) {
    if(e.value.match(mailformat)){
        /*alert("Valid email address!");
        document.myform.customerEmail.focus();*/
        document.getElementById("form_submit").disabled = false;
        return true;
    }
  console.log(e.value);
}

function onclickhandler2(e) {
    if(e.value.match(phoneno)){
        /*alert("Valid email address!");
        document.myform.customerEmail.focus();*/
        document.getElementById("form_submit").disabled = false;
        return true;
    }
  console.log(e.value);
}

function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}

function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();

  today = dd + '/' + mm + '/' + yyyy;
  // add a zero in front of numbers<10
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('time').value= today + " "+ h + ":" + m + ":" + s;
  t = setTimeout(function() {
    startTime()
  }, 500);
}
startTime();    
$(document).ready(function() {
    function detectDayHourWidget(){
        var dayn = 0; //parseInt($('#dayss').val());
        var getduedate = $('#datepicker').val();
        console.log("getduedate"+  getduedate);
        if (moment(getduedate, "YYYY-MM-DD", true).isValid()){
            console.log("getduedate IS DATE");
            var given = moment(getduedate, "YYYY-MM-DD");
            var current = moment().startOf('day');
            //Difference in number of days
            dayn = moment.duration(given.diff(current)).asDays();
        }else{
            getduedate = 0;
        }
        var hourn = parseInt($('#hourss').val());
        //console.log("hourn "+hourn);
        if (hourn != 0 || days >= 1) {
        var pricez = String(countPrice(dayn, hourn));console.log(pricez);
        var date = returnDate();//'23/02/2017';
        var time = returnHourMinutes();//'15:42';
        var dateTime = moment(date + ' ' + time, 'DD/MM/YYYY HH:mm').add(dayn, 'd').add(hourn, 'hours').add(1, 'minutes');
        $('#estimateDue').prop("value", dateTime);
        console.log(dateTime.format('YYYY-MM-DD HH:mm'))
        //$('#pricex').val('mcb');//$("#pricex").text(pricez);//$(this).val()
        $('#pricex').prop("value", pricez);
        $('#hidden_price').prop("value", pricez);
        StripeCheckout.__app.configurations.button0.amount = Number(pricez)*100;
        }
    } 
    function countPrice(dayn, hourn){
        var price = '0';
        if (typeof dayn == 'number' && typeof hourn == 'number'){
            price = (dayn * 12) + (hourn * 2) + 10;
            console.log(price);
        }
        return price;
    }
    function returnDate(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + '/' + mm + '/' + yyyy;
        //document.write(today);
        return today;
    }
    function returnHourMinutes(){
        var d = new Date(); // for now
        var hrs = d.getHours(); // => 9
        var mins = d.getMinutes(); 

        timen = hrs + ':' + mins;
        return timen;
    }
    $('#datepicker').change(function(){
        detectDayHourWidget();
    });
    $('#dayss').change(function(){
        detectDayHourWidget();
    });
    $('#hourss').change(function(){
        detectDayHourWidget();
    });
    detectDayHourWidget();
});
function AllowOnlyNumbers(e) {

e = (e) ? e : window.event;
var clipboardData = e.clipboardData ? e.clipboardData : window.clipboardData;
var key = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
var str = (e.type && e.type == "paste") ? clipboardData.getData('Text') : String.fromCharCode(key);
    if (!key >= 10 ){
            return false;
    }
return (/^\d+$/.test(str));
}
</script>
</html>